# Secrets
Secrets.xcconfig

# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
xcuserdata/

# Xcode project settings (user-specific)
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Archives
*.xcarchive
